<footer>
    
    <a class = "bottom bar footerRight">Esports at UNCC</a>
    <a class = "bottom bar footerRight" href="/about">About</a>
    <a class = "bottom bar footerRight" href="/contact">Contact</a>
    
</footer>