
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<link href="../assets/styles.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- For Icons in footer for social media-->



<header id = "header">

<div class="container">
<div class ="header" >
    
        <nav>
            
            <a href="/index"><img  alt="UNCC Esports" src="/assets/uncc-esports-logo.ico" width="50" height="50"></a>
             <a class ="top bor"  href = "/Connections"  aria-label="Signup" ><b>Connections</b></a> 
                
            
            <a class ="top bor"   href = "/login"  aria-label="Login"  style = "float:right"><b>Login</b></a> 
             <a class ="top bor" href = "/signup" aria-label="Signup"    style = "float:right"><b>Signup</b></a> 
                <a class = "bottom bor"  href ="/newConnection"  aria-label="Start A New Connection"   style = "float:right"><b>Start A New Connection</b></a>
            
            
        </nav>
      
            </div>
        </div>
    </header>

