<title>Index
</title>
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link href="../assets/styles.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header id = "header">





<div class="container">
<div class ="header" >
    
        <nav>
            
            <%- include('partials/Header.ejs') %>
            
        </nav>
      
            </div>
        </div>
    </header>
    <main>
        <body>
            
           <section class = "box">
                <p class="ConnectionText" >
                    <h1 class="title1" ><b>About US</b></h1>
                        <div class ="boxed">
                    &nbsp;<br>
                    <b>We are the Largest Organization on Campus here at UNCC </b>
        
                    <a><img  alt="UNCC Esports" src="/assets/uncc-esports-logo.ico"  height="250" style=" display: block;
                        margin-left: auto;
                        margin-right: auto;"></a>
                    <br>We host tournaments and have teams for all of your favorite games! <br>
                    
        
                    <br><br>
                    <br><em><b>"Your Home for Gaming on Campus"</b></em>
                    
        
                </p>
            </section>
        </body>
           </main>
        <footer>
            <div class ="footer">
                <!--Footer with Copy right and Instagram-->
                <!-- footer left to use CSS to float left-->
                 
                <%- include('partials/footer')  -%>
           </div>
           </footer>
         
        </html>