

<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="../assets/styles.css" rel="stylesheet" type="text/css"/>
<header id = "header">


  



<div class="container">
<div class ="header" >
    
        <nav>
            <%- include('partials/Header.ejs') %>
        </nav>
      
            </div>
        </div>
    </header>
    <main>

   <section class = "box">
        <p class="ConnectionText" >
            <h1 class="title1" ><b>To Contact Us</b></h1>
                <div class ="boxed">&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;<br>
            <b style="text-align: center;">Message Us on Facebook or Twitter </b>
            <a><img  alt="UNCC Esports" src="/assets/uncc-esports-logo.ico"  height="250" style=" display: block;
                margin-left: auto;
                margin-right: auto;"></a>
            <br> <br>
            <a href="https://www.facebook.com/groups/unccesports/" alt = "Facebook" src="/assets/FacebookContact.png" height="250" style=" display: block;
            margin-left: auto;
            margin-right: auto;" 
            class="time">Esports at UNC Charlotte on Facebook</a>
                <br> <br><a href="https://twitter.com/unccesports" alt = "Twitter" src="/assets/TwitterContact.png"  height="250"class="time">Twitter @UNCCEsports</a>
            <br>&nbsp;&nbsp;&nbsp;

            <br><br>
            <br><em><b>"Your Home for Gaming on Campus"</b></em>
            

        </p>
    </section>
   </main>
<footer>
    <div class ="footer">
        <!--Footer with Copy right and Instagram-->
        <!-- footer left to use CSS to float left-->
        <%- include('partials/footer')  -%>
   </div>
   </footer>
 