
<title>Index
</title>
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="../assets/styles.css" rel="stylesheet" type="text/css"/>
<header id = "header">





<div class="container">
<div class ="header" >
    
        <nav>
            
            <%- include('partials/Header.ejs') %>
            
        </nav>
      
            </div>
        </div>
    </header>
    <main>

   
        <p class="Text" >
            <b style="text-align:center;">Welcome to UNCC Esports</b>&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;<br>
            <br> <br>
            <a><img  alt="UNCC Esports" src="/assets/uncc-esports-logo.ico" width="200" height="200" ></a>
            <p class="textLeft">
                <br> <br>
            <br>&nbsp;&nbsp;&nbsp;Esports at UNCC is an organization focused
            <br> towards the growth and inclusion of the gaming <br>&nbsp;&nbsp;&nbsp;community of Charlotte North Carolina.<br> 
            &nbsp;  Our main events are the Esports Union Lan Party<br>   &nbsp;&nbsp; that we host twice every academic semester.&nbsp;
            <br>This is a day where we host community tournaments <br>  &nbsp;&nbsp; and a fun 
            filled day for all of the participants. <br>
             We also host student ran teams that compete across <br>   &nbsp;&nbsp;&nbsp;multiple different titles all across the globe.
            <br><br>
            <br><em><b>"Your Home for Gaming on Campus"</b></em>
            

        </p>
    
   </main>
<footer>
    <div class ="footer">
        <!--Footer with Copy right and Instagram-->
        <!-- footer left to use CSS to float left-->
        <%- include('partials/footer')  -%>
           </div>
   </footer>
